.node {
  width: 20px;
  height: 20px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
}

.node-finish {
background-color: rgb(255, 70, 70);
}

.node-start {
background-color: rgb(0, 241, 0);
}
.node-wall {
background-color: lightslategray;
}


.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(255, 192, 203, 0.212);
        border-radius: 100%;
      }
    
      50% {
        background-color: rgba(255, 0, 255, 0.466);
      }
    
      75% {
        transform: scale(1.2);
        background-color: rgba(137, 43, 226, 0.678);
        border-radius: 0%;
      }
    
      100% {
        transform: scale(1);
        background-color: rgb(74, 255, 128);
      }
}


.node-shortest-path {
animation-name: shortestPath;
animation-duration: 1.5s;
animation-timing-function: ease-out;
animation-delay: 0;
animation-direction: alternate;
animation-iteration-count: 1;
animation-fill-mode: forwards;
animation-play-state: running;
}

@keyframes shortestPath {
    0% {
        transform: scale(0.6);
        background-color: aquamarine;
      }
    
      50% {
        transform: scale(1.2);
        background-color: peachpuff;
      }
    
      100% {
        transform: scale(1);
        background-color: orange;
      }
}

@media only screen and (max-width: 800px) {
  .node {
    width: 10px;
    height: 10px;
  }
}