.projects{
    height: auto;
    background-color: #444;
    padding-bottom: 3em;
    color: white;
    margin: 0 auto;
    display: block;
}
.projects a{
    color: white;
    text-decoration: none;
    transition: 0.4s;
}
.projects a:hover{
    text-decoration:none;
    color: lightblue;
}
.projects ul{
    display: block;
    padding-top: 2em;
    width: 100%;
    margin: 0 auto;
}
.projects li{
    display: block;
    margin: 0 auto;
}
.projects .title{
    font-size: 3em;
    display: block;
    margin: 0 auto;
    width: 5em;
    padding-top: 3em;
}